* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(183, 230, 230);
  min-height: 100vh;
  line-height: 1.5;
}

.image.gradient {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

.layer-blur {
  height: 0;
  width: 30rem;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px rgb(136, 170, 43);
  rotate: -30deg;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bd2b07;   /* You can change this color as preferred */
  padding: 1rem 5rem;
  z-index: 999;
}
header h1.logo {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: -5%;
}

nav a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease;
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  color: #ecc42b;
}

.btn-signing {
  background-color: rgb(76, 123, 145);
  color: black;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.btn-signing:hover {
  background-color: rgb(236, 209, 56);
}

main {
  padding: 2rem 5rem;
}
.game-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
}
.game-card {
  background: #356d7e;
  border-radius: 12px;
  box-shadow: 0 2px 8px 2px #b44726;
  padding: 1rem;
  text-align: center;
  width: 200px;
  color: #69554c;
}
.game-card img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.game-card h3 {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 1.2rem;
}
.game-card p {
  font-size: 0.96rem;
  margin: 0;
}
.game-card h3,
.game-card p {
  transition: color 0.3s;
}
.card-link:hover h3,
.card-link:hover p {
  color: #ecc42b;
}
.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 12px;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.card-link:hover {
  background-color: #333a59;
  box-shadow: 0 4px 16px 4px #ecc42b;
  color: #ecc42b;
}
